*{
    padding: 0;
    margin: 0;
}
.container{
    max-width: 1280px;
    margin: 0 auto;
    
}
body{
 background-color: #F5F5F5;   
}
.font{
    font-family: "Fira Sans", sans-serif;
}

/* nav section */
nav{
    display: flex;
    justify-content: space-between;
    margin: 32px 0;
}
nav h2{
    font-size: 32px;
    color:#0E0E0E;
}
nav .btn{
    font-size: 16px;
    font-weight: 500;
    color: #006A50;
    border: 2px solid #006A50;
    padding: 15px 30px;
    border-radius: 8px;
    
}
/* Hero section */
.hero-section{
     display: flex;
     justify-content: space-between;
     gap: 64px;
     align-items: center;
     padding: 80px 100px;
     border-radius: 24px;
     background: rgba(198, 228, 214, 1);    
} 
.hero-section .hero-content{
    max-width: 622px;
}
.hero-section .hero-content h3{
    font-size: 24px;
    color:  rgba(14, 14, 14, 0.5);;
    margin-bottom: 16px;
}
.hero-section .hero-content h1{
    font-size: 50px;
    color: black;
    font-weight: bold;
}
.hero-section .hero-content .explore{
    margin-top: 24px;
    border: none;
    font-size: 18px;
    color: #FFFFFF;
    padding: 17px 34px;
    background: #006A50;
    border-radius: 8px;
}
.hero-section .hero-img{
    width: 474px;
}
 /* pillar section */
  .pillar-section{
    margin-top: 80px;
  }
 .pillar-section h1{
    font-size: 40px;
    color:#0E0E0E;
 }
 .pillar-section .pillar-container{
    display: flex;
    margin: 0 auto;
     gap: 24px;
     padding: 32px 0 80px 0;
 }
 .pillar-section .pillar-container .pillar-card{
     width: 302px;
     background-color: #FFFFFF;
     border-radius: 16px;
     padding: 24px;
 }
.pillar-section .pillar-container .pillar-card img{
    width: 62px;
  }
.pillar-section .pillar-container .pillar-card h3{
  font-size: 20px; 
  margin: 24px 0 12px 0; 
}
.pillar-section .pillar-container .pillar-card p{
  font-size: 16px; 
 line-height: 24px;
 color: rgba(14, 14, 14, 0.7);
}
 /* future section  */
 .future-section{
    margin-bottom: 80px;
 }
 .future-section h1{
    font-size: 40px;
    font-weight: bold;
    color: #0E0E0E;
    margin-bottom: 24px;
 }
 .future-section p{
    font-size: 16px;
    color: rgba(14, 14, 14, 0.7);
    line-height: 24px;
    margin-bottom: 32px;
 }
 .future-section .future-container{
    display: flex;
    gap: 24px;
    margin-bottom: 32px;
    align-items: center;
 }
 .future-section .future-container .future-card1{
    width: 410px;
    padding: 32px;
    background: rgba(84, 144, 245, 0.2);
    border-radius: 16px;
    height: 300px;
 }
 .future-section .future-container .future-card1 h3{
    font-size: 20px;
    margin: 24px 0 12px 0;
 }
 .future-section .future-container .future-card2{
    width: 410px;
    padding: 32px;
    background: rgba(198, 228, 214, 1);
     border-radius: 16px;
     height:300px;
 }
 .future-section .future-container .future-card2 h3{
    font-size: 20px;
    margin: 24px 0 12px 0;
 }
 .future-section .future-container .future-card3{
    width: 410px;
    padding: 32px;
    background: rgba(247, 235, 207, 1);
     border-radius: 16px;
     height: 300px;
 }
 .future-section .future-container .future-card3 h3{
    font-size: 20px;
    margin: 24px 0 12px 0;
 }
 .future-section .future-container .future-card2 .future-btn{
    margin-top: 25px;
 }
 .future-card1 .future-btn{
 background-color: #5490F5;
 border: none;
color: #fff;
padding: 11px 20px;
border-radius: 8px;
font-size: 16px;
font-weight: 600;
 }
 .future-card2 .future-btn{
 background-color: #09A15C;
 border: none;
color: #fff;
padding: 11px 20px;
border-radius: 8px;
font-size: 16px;
font-weight: 600;
 }
 .future-card3 .future-btn{
 background-color: #FFC239;
 border: none;
color: #fff;
padding: 11px 20px;
border-radius: 8px;
font-size: 16px;
font-weight: 600;
 }
 .future-section .chief{
    background: url(./assets/quote-bg.png);
    background-repeat: no-repeat;
 } 
